{% extends "base.html" %}

{% block scripts %}
  {{ bloc.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/news.css">
{% endblock scripts %}

{% block content %}
  <div class="new">
    {% if news_obj.image %}
      <div id="new_image">
        <img src="{{ MEDIA_URL }}/{{ news_obj.image.url_150x150 }}" alt="{{ news_obj.title }}" title="{{ news_obj.title }}" />
      </div>
    {% endif %}
    <h1>{{ news_obj.title }}</h1>
    <h2>{{ news_obj.summary }}</h2>
    <h3>{{ news_obj.body }}</h3>
    <p><span class="text_highlight">Postado por:</span> {{ news_obj.author }}</p>
    <p><span class="text_highlight">Data:</span> {{ news_obj.date_and_time|date:"d/m/Y à\s H:i" }}</p>
    {% if news_obj.projects_relateds.all %}
    <p><span class="text_highlight">Projetos relacionados:</span></p>
      <ul>
        {% for project in news_obj.projects_relateds.all %}
          <li><a href="/projeto/{{ project.id }}">{{ project.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock content %}
