{% extends "base.html" %}

{% load pagination_tags %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/news.css">
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('li#noticias').addClass('active')
    </script>
{% endblock %}


{% block content %}
  <div class="box box-news">
        <div class="header">
            <div class="container">
                <h1>Noticias</h1>
            </div>
        </div>
        <div class="content container">
            {% autopaginate news 5 %}
            {% for new in news %}
            <div class="row individual-new">
                <span class="span16">
                    {% if new.image %}
                        <img src="{{ STATIC_URL }}{{ new.image.url }}" />
                    {% endif %}
                    <div class="new-data">
                        <h3><a href="/noticia/{{ new.slug }}">{{ new.title }}</a></h3>
                        <h4>{{ new.summary }}</h4>
                        <div>
                            <span>Data:</span> {{ new.date_and_time|date:"d/m/Y à\s H:i" }} - <span>Postado por:</span> <strong>{{ new.author }}</strong>
                        </div>
                    </div>
                </span>
            </div>
            <br />
            {% endfor %}
            {% paginate %}
        </div>
    </div>
{% endblock content %}
