{% extends "base.html" %}

{% block content %}
  <div id="news">
    {% for new in news %}
      <div class="new">
        <h1>{{ new.title }}</h1>
        <h2>{{ new.summary }}</h2>
        <h3>{{ new.body }}</h3>
        <img src="/{{ new.image }}" />
        <p>Postado por: {{ new.author }}</p>
        <p>Data: {{ new.datetime|date:"d/m/Y à\s H:i" }}</p>
        {% for project in new.projects_relateds.all %}
          <p>Projeto: {{ project.name }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
