{% extends "base.html" %}

{% block content %}
  <div id="news">
    {% for new in news %}
      <div class="new">
        <h1>{{ new.title }}</h1>
        <h2>{{ new.summary }}</h2>
        <h3>{{ new.body }}</h3>
        <img src="/site_media/{{ new.image.url }}" alt="{{ new.title }} image" title="{{ new.title }} image" />
        <p>Postado por: {{ new.author }}</p>
        <p>Data: {{ new.datetime|date:"d/m/Y à\s H:i" }}</p>
        {% if new.projects_relateds.all %}
          <ul>
            <p>Projeto:</p>
            {% for project in new.projects_relateds.all %}
              <li>{{ project.name }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
