{% extends "base.html" %}
{% block styles %}
  {{ block.super }} <link rel="stylesheet" type="text/css" href="/site_media/css/nsi_info.css"/>
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('li#sobre').addClass('active')
    </script>
{% endblock %}

{% block content %}
    <div class="box box-nsi_info">
        <div class="header">
            <div class="container">
                <h1>Sobre</h1>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <span class="span16">
                    <p>{{ nsi_info.about_as_html|safe }}</p>
                </span>
            </div>
            <br />
        </div>
    </div>

{% endblock content %}
