{% extends "base.html" %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/site_media/css/projects.css"/>
{% endblock scripts %}

{% block content %}
    <div class="box box-project">
        <div class="header">
            <div class="container">
                <h1>{{ project.name }}</h1>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="project-data">
                    <ul class="members">
                        {% for member in project_members %}
                            <li>
                                <a href="/membro/{{ member.slug }}">
                                    <img src="{{ MEDIA_URL }}{{ member.photo.url }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <span class="sponsor"><strong>Patrocinador:</strong> {{ project.sponsor }}</span>
                    <span class="status"><strong>Status:</strong> {{ project.get_status_display }}</span>
					<span class="start"><strong>Início:</strong> {{ project.start_date }}</span>{% if project.end_date %} | <span class="end"><strong>Fim:</strong> {{ project.end_date }}</span>{% endif %}
                </div>

                <div class="project-description">
                    <p>
                        {{ project.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
