{% extends "base.html" %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/projects.css"/>
{% endblock scripts %}

{% block content %}

{% if project_count == 1 %}
  <h1>{{ project_count }} projeto</h1>
{% else %}
  <h1>{{ project_count }} projetos</h1>
{% endif %}

<div id="projects">
{% for project in projects %}
  <div class="project">
    {% if project.logo %}
      <a href="/projeto/{{ project.slug }}" title="{{ project.name }}"><img src="{{ MEDIA_URL }}/{{ project.logo.url }}" alt="{{ project.name }}" title="{{ project.name }}"/></a>
    {% endif %}
    <h2><a href="/projeto/{{ project.slug }}">{{ project.name }}</a></h2>
    <p>{{ project.description|slice:"250"}} ... </p>
    <a id="know_more"href="/projeto/{{ project.slug }}" title="Saiba mais">Saiba mais <span>+</span></a>
  </div>  
{% endfor %}
</div>

{% endblock content %}
