{% extends "base.html" %}

{% load pagination_tags %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/projects.css"/>
{% endblock scripts %}

{% block content %}
    <div class="box box-projects">
        <div class="header">
            <div class="container">
                <h1>Projetos</h1>
            </div>
        </div>
        <div class="content container">
            {% autopaginate projects 5 %}
            {% for project in projects %}
            <div class="row individual-project">
                <span class="span16">
                    {% if project.logo %}
                        <img src="{{ STATIC_URL }}{{ project.logo.url }}" />
                    {% endif %}
                    <div class="project-data">
                    <h3><a href="/projeto/{{ project.slug }}">{{ project.name }}</a></h3>
                    <p>{{ project.description|slice:"250"}}&#133;</p>
                    </div>
                </span>
            </div>
            <br />
            {% endfor %}
            {% paginate %}
        </div>
    </div>
{% endblock content %}
