{% extends "base.html" %}

{% block content %}
<h1>Projects</h1>

<ul>
{% for project in projects %}
  <li>
    <h3><a href="/projects/{{ project.id }}">{{ project.name }}</a></h3>
    <p>{{ project.description }}</p>
    <p>Patrocinador: {{ project.sponsor }}</p>
    <p>Status: {{ project.status }}</p>
    {% if project.finished %}
      <p>Duração: {{ project.start_date|date:"d/m/Y" }} a {{ project.end_date|date:"d/m/Y" }}</p>
    {% else %}
      <p>Início: {{ project.start_date|date:"d/m/Y" }}
    {% endif %}
    <img src="{{ MEDIA_URL }}/{{ project.logo.url }}" alt="{{project.name}}" title="{{project.name}} logo"/>
  </li>
{% endfor %}

{{ project_count }} projects
{% endblock content %}
