{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/index.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block content %}
    <div class="box box-nsi">
        <div class="header">
            <div class="container">
            <h1>Núcleo de Pesquisa em Sistemas de Informação</h1>
            <p>
                Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc.
                <br />
                Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien
            </p>
            </div>
        </div>

        <div class="content container">
            <div class="row">
                <span class="span-one-third">
                    <h3>Projetos</h3>
                    <p>Mauris sed, cras justo lacinia, cras vel diam. Rutrum sit lacinia, velit tincidunt vestibulum, at inceptos consequat. Sit luctus vestibulum. Sollicitudin ut, ac in. Viverra pellentesque praesent, wisi cursus. Sodales ullamcorper, vehicula non.</p>
                </span>
                <span class="span-one-third">
                    <h3>Open Source</h3>
                    <p>Mauris sed, cras justo lacinia, cras vel diam. Rutrum sit lacinia, velit tincidunt vestibulum, at inceptos consequat. Sit luctus vestibulum. Sollicitudin ut, ac in. Viverra pellentesque praesent, wisi cursus. Sodales ullamcorper, vehicula no.</p>
                </span>
                <span class="span-one-third">
                    <h3>Planeta NSI</h3>
                    <p>Mauris sed, cras justo lacinia, cras vel diam. Rutrum sit lacinia, velit tincidunt vestibulum, at inceptos consequat. Sit luctus vestibulum. Sollicitudin ut, ac in. Viverra pellentesque praesent, wisi cursus. Sodales ullamcorper, vehicula non.</p>
                </span>
            </div>

            <div class="row">
                <span class="span-one-third">
                    <h3>Foco</h3>
                    <p>Mauris sed, cras justo lacinia, cras vel diam. Rutrum sit lacinia, velit tincidunt vestibulum, at inceptos consequat. Sit luctus vestibulum. Sollicitudin ut, ac in. Viverra pellentesque praesent, wisi cursus. Sodales ullamcorper, vehicula non.</p>
                </span>
                <span class="span-one-third">
                    <h3>Agile</h3>
                    <p>Mauris sed, cras justo lacinia, cras vel diam. Rutrum sit lacinia, velit tincidunt vestibulum, at inceptos consequat. Sit luctus vestibulum. Sollicitudin ut, ac in. Viverra pellentesque praesent, wisi cursus. Sodales ullamcorper, vehicula non.</p>
                </span>
                <span class="span-one-third">
                    <h3>Python/Ruby/PHP/Java</h3>
                    <p>Mauris sed, cras justo lacinia, cras vel diam. Rutrum sit lacinia, velit tincidunt vestibulum, at inceptos consequat. Sit luctus vestibulum. Sollicitudin ut, ac in. Viverra pellentesque praesent, wisi cursus. Sodales ullamcorper, vehicula non.</p>
                </span>
            </div>
        </div>
    </div>
{% endblock content %}
