{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/index.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block content %}
    <div class="box box-nsi">
        <div class="header">
            <div class="container">
            <h1>Núcleo de Pesquisa em Sistemas de Informação</h1>
            <p>
                Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc.
                <br />
                Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien
            </p>
            </div>
        </div>

        <div class="content container">
            <div class="row">
                <span class="span-one-third">
                    <h6>Projetos</h6>
                    <p>projetos fodas do nsi</p>
                </span>
                <span class="span-one-third">
                    <h6>Open Source</h6>
                    <p>projetos fodas do nsi</p>
                </span>
                <span class="span-one-third">
                    <h6>Planeta NSI</h6>
                    <p>projetos fodas do nsi</p>
                </span>
            </div>
			<div class="row">
				<span class="span-one-third">
					<h6>Foco</h6>
					<p>Lorem ipsum dolor sit amet.</p>
				</span>
				<span class="span-one-third">
					<h6>Agile</h6>
					<p>Lorem ipsum dolor sit amet.</p>
				</span>
				<span class="span-one-third">
					<h6>Python/Ruby/PHP/Java</h6>
					<p>Lorem ipsum dolor sit amet.</p>
				</span>
			</div>
        </div>
    </div>
{% endblock content %}
