{% extends 'base.html' %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/index.css"/>
{% endblock styles %}


{% block content %}
  <div id="highlights">
    <div id="projects">
      <div class="title_highlights" id="title_projects">
        Projetos
      </div>
      {% for project_obj in projects %}
      <div class="entry">
        {% if project_obj.logo %}
            <div class="logo_project">
              <a href="/projeto/{{ project_obj.id }}" title="{{ project_obj.name  }}"><img src="{{ MEDIA_URL }}{{ project_obj.logo.url_90x90 }}" alt="{{ project_obj.name }}"/></a>
            </div>
        {% endif %}
        <div class="project_name">
           <a href="/projeto/{{ project_obj.id }}" title="{{ project_obj.name }}">{{ project_obj.name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="news">
      <div class="title_highlights" id="title_news">
        Noticias
      </div>
      {% for news_obj in news %}
      <div class="entry">
        {% if news_obj.image %}
            <div class="image_news">
              <a href="/noticias" title="{{ news_obj.title }}"><img src="{{ MEDIA_URL }}/{{ news_obj.image.url_90x90 }}" alt="{{ news_obj.title }}"/></a>
            </div>
            <div class="news_title_with_image">
        {% else %}
          <div class="news_title_without_image">
        {% endif %}
          {{ news_obj.date_and_time|date:"d/m/Y à\s H:i" }}<br/>
          <a href="/noticias" title="{{ news_obj.title }}">{{ news_obj.title }}</a>
        </div>
        <div class="text_news">
           {% if news_obj.summary %}
               <p>{{ news_obj.summary }}</p>
           {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="tools">
      <div class="title_highlights" id="title_tools">
        Ferramentas
      </div>
      {% for tool_obj in tools %}
      <div class="entry">
        <div class="tool_name">
           <a href="/ferramentas" title="{{ tool_obj.name }}">{{ tool_obj.name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>  
{% endblock content %}
