{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/tools.css">
{% endblock styles %}

{% block content %}
{% for tool in tools %}
  <div id="tools">
    <div class="tool">
      <h1>{{ tool.name }}</h1>
      <p>{{ tool.description }}</p>
      <p><span>Repositório: </span>
        <a href="{{ tool.repository }}" title="Repositório: {{ tool.repository }}" target="_blank">{{ tool.repository }}</a>
      </p>
      <p><span>Site: </span>
        <a href="{{ tool.site }}" title="Site: {{ tool.site }}" target="_blank">{{ tool.site }}</a>
      </p>
      {% if tool.relateds_projects.all %}
        <p><span>Projetos relacionados:</span></p>
        <ul>
          {% for project in tool.relateds_projects.all %}
            <li><a href="/projeto/{{ project.id }}">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock content %}

