<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}NSI{% endblock title %}</title>

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="/site_media/css/base.css"/>
    {% endblock styles %}

    {% block scripts %}
    {% endblock scripts %}
  </head>

  <body>
    <div id="header">
      {% block header %}
      {% endblock header %}
    </div>

    <div id="menu">
      {% block menu %}
        <div id="menu">
            <ul>
                <li><a href="http://nsi.iff.edu.br"><label>Site principal</label></a></li>
                <li><a href="http://github.com/nsi-iff"><label>Projetos</label></a></li>
            </ul>
        </div>
      {% endblock menu %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>

    <div id="footer">
      {% block footer %}
        <div id="footer">
            <span><a href="#">Equipe</a></span>
        </div>
      {% endblock footer %}
    </div>
  </body>
</html>

