<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}NSI{% endblock title %}</title>

        {% block styles %}
          <link rel="stylesheet" type="text/css" href="/site_media/css/base.css"/>
        {% endblock styles %}

        {% block scripts %}
        {% endblock scripts %}
    </head>

    <body>
        <div id="header">
          {% block header %}
            <h1>NSI - O glorioso</h1>
          {% endblock header %}
        </div>
        <div id="menu">
          {% block menu %}
            <ul>
                <li><a href="http://nsi.iff.edu.br">Site principal</a></li>
                <li><a href="/projects/">Projetos</a></li>
                <li><a href="/members">Membros</a></li>
            </ul>
          {% endblock menu %}
        </div>
        <div id="columns">
            <div id="navigation">
              {% block navigation %}
              {% endblock navigation %}
            </div>
            <div id="content">
              {% block content %}
              {% endblock content %}
            </div>
            <div id="aside">
              {% block aside %}
              {% endblock aside %}
            </div>
        </div>
    </body>
    <div id="footer">
      {% block footer %}
        <div id="footer">
            <span><a href="#">Equipe</a></span>
        </div>
      {% endblock footer %}
    </div>
</html>

