<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}NSI - Núcleo de Pesquisa em Sistemas de Informação{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}/images/base/favicon.ico" />

    {% block styles %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/base.css" type="text/css" media="screen" charset="utf-8"/>
    {% endblock styles %}
  </head>

  <body>
      <div class="main">
          <div id="header">
              <div class="menu">
                  {% block menu %}
                  <div class="topbar-wrapper" style="z-index: 5;">
                      <div class="topbar" data-dropdown="dropdown">
                          <div class="topbar-inner">
                              <div class="container">
                                  <h3 class="active"><a href="/">NSI</a></h3>
                                  <ul class="nav">
                                      <li><a href="/sobre/">Sobre</a></li>
                                      <li><a href="/projetos/">Projetos</a></li>
                                      <li><a href="/noticias/">Noticias</a></li>
                                      <li><a href="/opensource/">Open Source</a></li>
                                      <li class="dropdown">
                                      <a href="#" class="dropdown-toggle">Membros</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/membros">Atuais</a></li>
                                          <li><a href="/ex-membros">Ex-membros</a></li>
                                      </ul>
                                      </li>
                                  </ul>
                              </div>
                          </div><!-- /topbar-inner -->
                      </div><!-- /topbar -->
                  </div>
                  {% endblock menu %}
              </div>
          </div>
          <div id="content">
              {% block content %}
              {% endblock content %}
          </div>
          <div id="footer">
            <div  class="container">
              <p>Desenvolvido por NSI - Núcleo de Pesquisa em Sistemas de Informação / IFF - Instituto Federal Fluminense</p>
              <p>Rua Dr. Siqueira, 273 - Parque Dom Bosco - Campos dos Goytacazes, RJ - CEP 28030-130 TEL.: (22 ) 2726 2800 FAX.: (22) 2733 3079 Ramal: 2904</p>
            </div>
          </div>
      </div>
    {% block scripts %}
        <script src="{{ MEDIA_URL }}/javascripts/jquery-1.7.1.min.js"></script>
        <script src="{{ MEDIA_URL }}/javascripts/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
    {% endblock scripts %}

  </body>
</html>
