{% extends 'base.html' %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/index.css"/>
{% endblock styles %}


{% block content %}
  <div id="highlights">
    <div id="projects">
      <div class="title_highlights" id="title_projects">
        Projetos
      </div>
    </div>
    <div id="news">
      <div class="title_highlights" id="title_news">
        Noticias
      </div>
    </div>
    <div id="tools">
      <div class="title_highlights" id="title_tools">
        Ferramentas
      </div>
    </div>
  </div>  
{% endblock content %}