{% extends 'base.html' %}

{% block title %}{{ block.super}} - O Glorioso{% endblock title %}
{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block header %}
  <h1>NSI - O Glorioso</h1>
{% endblock header %}

{% block menu %}
  <div id="menu">
    <ul>
        <li><a href="http://nsi.iff.edu.br"><label>Site principal</label></a></li>
        <li><a href="http://github.com/nsi-iff"><label>Projetos</label></a></li>
    </ul>
  </div>
{% endblock menu %}

{% block footer %}
  <div id="footer">
    <span><a href="#">Equipe</a></span>
  </div>
{% endblock footer %}

