{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/wiki.css"/>
{% endblock styles %}

{% block content %}

    <div id="back_to_wiki_page">
        <div id="back_to_wiki_page_image">
          <a href="/wiki/" title="Voltar para página anterior">&nbsp;</a>
        </div>
        <div id="back_to_wiki_page_text">
          <a href="/wiki/" title="Voltar para página anterior">
            <span>Voltar para página anterior</span>
          </a>
        </div>
      </a>
    </div>
  <br /><br /><br />
  <div id="wiki_item_page">
    <h1> {{ wiki_item.title }} </h1>
    
    {{ wiki_item.content|safe }}
  </div>

{% endblock content %}
