{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/wiki.css"/>
{% endblock styles %}

{% block content %}

  <a href="/wiki/novo_item/">
    <img src="{{ MEDIA_URL }}/images/wiki/add.png">Adicionar um ítem
  </a>

  <table>
    <th>
      <td>ID</td>
      <td>Título</td>
    </th>
    {% for wiki_item in wiki_items %}
    <tr>
      <td>{{ wiki_item.id }}</td>
      <td><a href="/wiki/{{ wiki_item.id }}">{{ wiki_item.title }}</a></td>
      <td>
        <a class="edit" href="/wiki/{{ wiki_item.id }}/editar">&nbsp;</a>
      </td>
      <td>
        <a class="delete" href="/wiki/{{ wiki_item.id }}/excluir">&nbsp;</a>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock content %}

