.main {
    padding-top: 40px;
}

.header {
    padding: 40px 0 20px;
}

.header * {
    text-align: left;
}

.header h1 {
    padding-bottom: 20px;
    border-bottom: 4px solid #A7CC81;
}

#footer {
    border-top: 4px solid #A7CC81;
    background-color: #669933;
    height: 90px;
    padding: 40px 0 10px 0;
}

#footer p {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.pagination a {
    float: none;
    padding: 0;
    line-height: 34px;
    border: none;
    text-decoration: none;
    color: #A7CC81;
}
