* {
  margin: 0;
  padding: 0;
}

/*    HEADER      */
#header {
  width: 100%;
  background-color: #000000;
}
#header h1 {
  padding: 1%;
  text-align: center;
  font-size: 42px;
  color: #FFFFFF;
}

/*    BODY    */
body {
  width: 100%;
  height: auto;
  min-height: 100%;
  text-align: justify;
  font-family: Verdana,Arial,sans-serif;
  color: #000000;
  background: #F0FFF0;
}

/*    MENU    */
#menu {
  margin: auto;
  width: 100%;
  background-color: #C1FFC1;
}
#menu ul {
  margin: auto;
  width: 70%;
  height: 60px;
  text-decoration: none;
  list-style: none;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  background-color: #32CD32;
}
#menu ul li{
  display: inline;
}
#menu ul li a {
  float: left;
  padding: 20px 15px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #32CD32;
  display: inline;
}
#menu ul li a:hover {
  color: #FFFFFF;
  background-color: green;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#columns{
  padding-bottom: 40px
}
/*    NAVIGATION - LEFT   */
#navigation {
  float: left;
  width: 16%;
  padding: 0px 0px 30px 0px;
  background-color: #C1FFC1;
  display: inline;
  border-right-width: thin;
  border-right-color: #9BCD9B;
  border-right-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #9BCD9B;
  border-bottom-style: solid;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  height: 100%;
}
#navigation ul li{
  text-align: center;
  list-style-type: none;
}
#navigation ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  display: inline;
}
#navigation ul li a:hover {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: green;
  text-decoration: none;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

/*    CONTENT   */
#content {
  float: left;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  width: 56%;
  padding: 20px 0 30px 0;
  margin: 0 20px 0 60px;
  height: 100%;
}

/*    ASIDE - RIGHT   */
#aside {
  float: right;
  width: 16%;
  padding: 0 0 30px 0;
  display: inline;
  background-color: #C1FFC1;
  border-left-width: thin;
  border-left-color: #9BCD9B;
  border-left-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #9BCD9B;
  border-bottom-style: solid;
  text-align: center;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  height: 100%;
}
#aside label{
  padding: 10%;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}


/*    FOOTER      */
#footer {
  width: 100%;
  height: 40px
  margin-top: -40px;
  clear: both;
  padding: 5px 0 5px 0;
  background-color: #000000;
  position: relative;
/*  bottom: 0px;*/
}
#footer a {
  padding: 0 5px 0 10px;
  text-align: left;
  color: #32CD32;
  font-size: 14px;
  text-decoration: none;
}

