body {
  margin: 0;
  padding: 0;
  font-family: verdana,arial,sans-serif;
  font-size: 0.625em;
}

#main {
  font-size: 1em;
}

#header {
  height: 100px;
  background-color: #E6E6E6;
  font-family: "trebuchet ms",arial,sans-serif;
}

#header #center_header {
  background: url("/site_media/images/base/background_head.jpg") repeat scroll 0px 0px transparent;
  height: 100px;
  width: 900px;
  margin: 0 auto;
}

#header #center_header #logo_nsi {
  margin-top: 17px;
  margin-left: 10px;
  border: none;
}

#header #menu {
  height: 40px;
  width: 898px;
  margin: 0 auto;
  color: #4B4B4B;
  font-size: 1.3em;
  border-left: 1px solid #AFAFAF;
  border-right: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#header #menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 900px;
}

#header #menu ul li {
  border-right: 1px solid #AFAFAF;
  float: left;
  position: relative;
  z-index: auto !important;
  width: 127px;
}

#header #menu ul li#last {
  border-right: none;
  width: 130px;
}

#header #menu ul li a {
  color: #646464;
  display: block;
  float: none !important;
  font-weight: bold;
  height: 3.1em;
  line-height: 3.1em;
  text-align: center;
  text-decoration: none;
}

#header #menu ul li ul {
  border: medium none;
  display: none;
}

#header #menu ul li:hover a {
  background-color: #d2d2d2;
  text-decoration:none;
}

#header #menu ul li#last:hover {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header #menu ul li:hover ul {
  display:block;
  width:10.0em;
  position:absolute;
  z-index:999;
  top:3.0em;
  margin-top:0.1em;
  left:0;
}

#header #menu ul li:hover ul li a {
  display:block;
  width:10.0em;
  height:auto;
  line-height:1.3em;
  margin-left:-1px;
  padding:4px 16px 4px 16px;
  border-left:solid 1px #AFAFAF;
  border-bottom: solid 1px #AFAFAF;
  background-color:#ededed;
  font-weight:normal;
  color:#323232;
}

#header #menu ul li:hover ul li a:hover {
  background-color:#d2d2d2;
  text-decoration:none;
}

#content {
  clear: both;
  width: 900px;
  margin: 70px auto;
}

#footer {
  clear: both;
  margin: 0 auto;
  padding: 5px;
  background-color: #E6E6E6;
  text-align: center;
}

