.main {
    padding-top: 40px;
}

#footer {
    border-top: 4px solid #A7CC81;
    background-color: #669933;
    height: 90px;
    padding: 40px 0 10px 0;
}

#footer p {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
