* {
  margin: 0;
  padding: 0;
}


/*    HEADER      */
#header {
    width: 100%;
    height: 100px;
    background-color: #000000;

}

#header h1 {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
}


/*    BODY    */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
    color: #000;
    background: #F8F8FF;
}

#menu ul {
    margin: auto;
    padding: 0;
    width: 80%;
    height: 50px;
    text-decoration: none;
    list-style: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    background-color: #32CD32;
}

#menu ul li{
    display: inline;
}
#menu ul li a {
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    background-color: #32CD32;
    display: inline;
}
#menu ul a label{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
#menu ul a:hover {
    background-color: green;
}

/*    FOOTER      */
#footer {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    bottom: 0;
    position: absolute;
}

#footer a {
    color: #32CD32;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}

