.box-nsi {
}

.box-nsi .header {
    background: url(../images/project_papper.png);
    height: 160px;
    padding: 40px 0;
}

.box-nsi .header * {
    text-align: center;
    margin-bottom: 0;
}

.box-nsi .header h1 {
    color: #303030;
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;
    margin-top: 15px;
}

.box-nsi .header p {
    font-size: 20px;
    line-height: 27px;
    margin-top: 25px;
    letter-spacing: -1px;
}

.box-nsi .content span {
    border: 1px solid #eee;
    text-align: center;
    height: 250px;
    margin: 20px 0;
    -webkit-transition: all 0.3s ease-in;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-in;  /* FF4+ */
      -ms-transition: all 0.3s ease-in;  /* IE10? */
       -o-transition: all 0.3s ease-in;  /* Opera 10.5+ */
          transition: all 0.3s ease-in;

    -moz-box-shadow: 3px 3px 3px #d6d6d6;
    -webkit-box-shadow: 3px 3px 3px #d6d6d6;
    box-shadow: 3px 3px 3px #d6d6d6;
    overflow: hidden;
}

.box-nsi .content span:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10? */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;

    -moz-box-shadow: 6px 6px 6px #d4d4d4;
    -webkit-box-shadow: 6px 6px 6px #d4d4d4;
    box-shadow: 6px 6px 6px #d4d4d4;
}

.box-nsi .content span:first-child {
    margin-right: 27px;
}

.box-nsi .content span:last-child {
    margin-left: 27px;
}

.box-nsi .content span * {
    margin: 10px auto;
    width: 80%;
}

.box-nsi .content span h3 {
    border-bottom: 1px solid #aaa;
    font-size: 20px;
    text-align: center;
    padding: 0 0 10px;
}

.box-nsi .content span p {
    text-align: left;
    font-size: 16px;
    padding: 10px 0 0;
}

