#content #highlights {
    width: 900px;
}

#content #highlights .title_highlights {
    font-size: 1.8em;
    margin-left: 5px;
    height: 64px;
    padding-left: 70px;
    line-height: 65px;
}

#content #highlights #projects,
#content #highlights #news,
#content #highlights #tools {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #EEEEEE;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#content #highlights #projects {
    width: 190px;
}
#content #highlights #news {
    width: 430px;
}
#content #highlights #tools {
    width: 190px;
}

#content #highlights #projects #title_projects {
    background: transparent url("/site_media/images/base/Home_projects.png") no-repeat;
    margin-bottom: 15px;
}

#content #highlights #news #title_news {
    background: transparent url("/site_media/images/base/news.png") 140px 0px no-repeat;
    padding-left: 210px;
    margin-bottom: 15px;
}

#content #highlights #tools #title_tools {
    background: transparent url("/site_media/images/base/tools.png") no-repeat;
    margin-bottom: 15px;
}

#content #highlights #news .entry {
    border-bottom: 1px dotted #000;
    margin-bottom: 5px;
}

#content #highlights #news .entry .image_news {
    float: left;
    margin-right: 7px;
}

#content #highlights #news .entry .image_news img {
    border: none;
}

#content #highlights #news .entry .text_news {
    clear: both;
}

#content #highlights #news .entry .news_title_with_image a,
#content #highlights #news .entry .news_title_without_image a{
    text-decoration: none;
    color: #336699;
    font-size: 1.4em;
}

#content #highlights #news .entry .news_title_with_image a:hover,
#content #highlights #news .entry .news_title_without_image a:hover {
    color: #7699CC;
}

#content #highlights #news #read_more {
    float: right;
}

#content #highlights #news #read_more a,
#content #highlights #news #read_more a:visited {
    color: black;
    font-size: 14px;
}

#content #highlights #news #read_more a:hover p {
    text-decoration: underline;
}

#content #highlights #news #read_more p span {
    color: green;
    font-weight: bold;
    font-size: 18px;
}
