#content #highlights {
    width: 900px;
}

#content #highlights .title_highlights {
    font-size: 1.8em;
    margin-left: 5px;
    height: 64px;
    padding-left: 70px;
    line-height: 65px;
}

#content #highlights #projects,
#content #highlights #news,
#content #highlights #tools,
#content #highlights #planetaNSI {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #EEEEEE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: thin solid #9BCD9B;
}

#content #highlights #projects {
    width: 187px;
}
#content #highlights #news {
    width: 430px;
}
#content #highlights #tools {
    width: 187px;
}

#content #highlights #planetaNSI {
    width: 187px;
}

#content #highlights #projects #title_projects {
    background: transparent url("/site_media/images/base/projects.png") no-repeat;
    margin-bottom: 15px;
}

#content #highlights #projects .entry {
    margin-bottom: 10px;
}

#content #highlights #projects img {
    float: left;
    margin-right: 10px; 
}

.text_entry {
    height: 32px;
    display: table-cell;
    vertical-align: middle;    
}

.text_entry a {
    font-size: 14px;
}

.text_entry a:link, .text_entry a:visited {
    color: black;
    text-decoration: none;
}

.text_entry a:hover {
    color: gray;
    text-decoration: underline;
}

#content #highlights #news #title_news {
    background: transparent url("/site_media/images/base/news.png") 140px 0px no-repeat;
    padding-left: 210px;
    margin-bottom: 15px;
}

#content #highlights #tools #title_tools {
    background: transparent url("/site_media/images/base/tools.png") no-repeat;
    margin-bottom: 15px;
}

#content #highlights #news .entry {
    border-bottom: 1px dotted #000;
    margin-bottom: 20px;
    overflow: hidden;
    
}

#content #highlights #planetaNSI #title_planetaNSI {
    background: transparent url("/site_media/images/base/planetaNSI.png") no-repeat;
    margin-bottom: 15px;
}

#content #highlights #planetaNSI img {
    float: left;
    margin-right: 20px; 
}

#content #highlights #planetaNSI #feed, #github {
    height: 32px;
    vertical-align: middle;    
}

#content #highlights #news .entry .image_news {
    float: left;
    margin-right: 7px;
}

#content #highlights #news .entry .image_news img {
    border: none;
}

#content #highlights #news .entry .text_news {
    clear: both;
}

#content #highlights #news .entry .news_title_without_image {
    margin-bottom: 20px;
}

#content #highlights #news .entry .news_title_with_image a,
#content #highlights #news .entry .news_title_without_image a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}

#content #highlights #news .entry .news_title_with_image a p,
#content #highlights #news .entry .news_title_without_image a p {
    text-align: justify;
}

#content #highlights #news .entry .news_title_with_image {
    display: table-cell;
    height: 75px;
    vertical-align: middle;
}

#content #highlights #news .entry .news_title_with_image a:hover,
#content #highlights #news .entry .news_title_without_image a:hover {
    color: gray;
    text-decoration: underline; 
}

#content #highlights #news #read_more {
    float: right;
}

#content #highlights #news #read_more a,
#content #highlights #news #read_more a:visited {
    color: black;
    font-size: 14px;
}

#content #highlights #news #read_more a:hover p {
    text-decoration: underline;
}

#content #highlights #news #read_more p span {
    color: green;
    font-weight: bold;
    font-size: 18px;
}

#content #highlights #tools .entry {
    margin-bottom: 10px;
}

#content #highlights #tools .entry img {
    float: left;
    margin-right: 10px;
}

.text_highlight {
    font-weight: bold; 
}

.text_data {
    font-weight: bold;
    float: right;
}

.index_image {
  max-width: 100px;
  max-height: 100px;
}
