.member {
  padding: 10px 0px 15px 10px;
  float: left;
  height: 140px;
  width: 270px;
  margin-right: 27px;
  margin-bottom: 20px;
  background-color: #E6E6E6;
  border-width: thin;
  border-color: #9BCD9B;
  border-style: solid;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

.row3 {
  margin-right: 0 !important;
  float: right !important;
}

.avatar {
  float: left;
  border: none;
  border: 2px solid white;
}

.member_data {
  float: left;
  margin-left: 15px;
  width: 145px;
}

.member_data h1 {
  font-size: 14px;
  margin: 0;  
}

.member_data h1 a {
  text-decoration: none;
}

.member_data h1 a:link, .member_data h1 a:visited {
  color: black;
}

.member_data h1 a:hover {
  color: gray;
}

.member_data span {
  font-style: italic;
}

.links{
  clear: left;
  padding: 7px 0 0 0;
}

.links a img {
  border: none;
}

.member_details {
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  border: thin solid #9BCD9B;
}

.member_details p span {
  font-weight: bold;
}

.member_details h2 {
  text-align: justify;
}

.member_details img {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  top: -4px;
}

.member_details a {
  display: block;
  clear: both;
  text-decoration: none;
  color: black;
}

.member_details a h3 {
  display: inline;
  margin-left: -6px;
}

.member_details .data{
  margin-left: 150px;
}

.member_details a img {
    margin-bottom: 4px;
    position: relative;
    top: -10px;
    border: none
}

.member_details .avatar {
  float: left;
  border: 2px solid white;
  margin-left: 15px;
  margin-top: 20px;
}

.member_links {
  margin-left: -2px;
  padding-top: 15px;
  overflow: hidden;
}
.member_details h3 {
 display: inline;
}
