.member {
  padding: 10px 0px 15px 10px;
  float: left;
  height: 140px;
  width: 270px;
  margin-right: 27px;
  margin-bottom: 20px;
  background-color: #E6E6E6;
  border-width: thin;
  border-color: #9BCD9B;
  border-style: solid;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

.row3 {
  margin-right: 0 !important;
  float: right !important;
}

.avatar {
  float: left;
  border: none;
}

.member_data {
  float: left;
  margin-left: 15px;
  width: 145px;
}

.member_data h1 {
  font-size: 14px;
  margin: 0;  
}

.member_data h1 a {
  text-decoration: none;
}

.member_data h1 a:link, .member_data h1 a:visited {
  color: black;
}

.member_data h1 a:hover {
  color: gray;
}

.member_data span {
  font-style: italic;
}

.links{
  clear: left;
  padding: 7px 0 0 0;
}

.links a img {
  border: none;
}
