.nsi_info {
  text-align: justify;
  font-size: 1.2em;
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
  border: thin solid #9BCD9B;
}
