.box-nsi_info .header {
    padding: 40px 0 20px;
}

.box-nsi_info .header * {
    text-align: left;
}

.box-nsi_info .header h1 {
    padding-bottom: 20px;
    border-bottom: 4px solid #A7CC81;
}

.box-nsi_info .content span {
    border-bottom: 1px dotted #A7CC81;
    overflow: hidden;
    padding-bottom: 15px;
    margin-top: -30px;
}

.box-nsi_info .content span p {
    text-align: justify;
    font-size: 16px;
    padding: 10px 0;
    word-wrap: break-word;
}
