.box-projects .header {
    padding: 40px 0 20px;
}

.box-projects .header * {
    text-align: left;
}

.box-projects .header h1 {
    padding-bottom: 20px;
    border-bottom: 4px solid #A7CC81;
}

.box-projects .content span .project-data {
    width: 80%;
    float: right;
}

.box-projects .content span {
    border-bottom: 1px dotted #A7CC81;
    overflow: hidden;
    padding-bottom: 15px;
}

.box-projects .content span:hover {
    cursor: pointer;
}

.box-projects .content span h3 {
    font-size: 25px;
}

.box-projects .content span h3 a {
    color: #A7CC81;
}

.box-projects .content span p {
    text-align: left;
    font-size: 16px;
    padding: 10px 0;
    word-wrap: break-word;
}

.box-projects .content span img {
    display: inline;
    float: left;
    width: 160px;
    height: 160px;
}

/* show_project.html */

.box-project .header {
    padding: 20px 0 0;
}

.box-project .header h1 {
    border-bottom: 4px solid #A7CC81;
    margin-top: 30px;
}

.box-project .content .project-data {
    border-bottom: 1px solid #A7CC81;
    padding-bottom: 15px;
}

.box-project .content .project-data .members {
    list-style: none;
    margin-left: 0;
}

.box-project .content .project-data .members li a img {
    width: 61px;
    height: 61px;
}

.box-project .content * {
    display: block;
}

.box-project .content strong {
    font-size: 14px;
    display:inline;
}

.box-project .content .start, .box-project .content .end {
    display: inline;
}
