.project {
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  border: thin solid #9BCD9B;
}

.project h2 {
  margin: 0;
}

.project h2 a:link, .project h2 a:visited {
  color: black;
  text-decoration: none;
}

.project h2 a:hover {
  text-decoration: underline;
}

.project img {
  float: left;
  margin-right: 20px;
  border: 3px solid white;
}

.project p {
  font-size: 12px;
  text-align: justify;
}

.project #know_more:link, .project #know_more:visited {
  float: right;
  color: black;
  text-decoration: none;
}

.project #know_more:hover {
  text-decoration: underline;
}

.project #know_more span {
  font-size: 18px;
  color: green;
}

#project_details {
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
  border: thin solid #9BCD9B;
}

#project_details img {
  border: 3px solid white;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#project_details #project_logo {
  float: left;
}

#project_details #data p {
  text-align: justify;
  font-size: 1.2em;
}

#project_details #data h1 {
  margin: 0;
}

#project_details #data .text_highlight {
  font-size: 12px;
  font-weight: bold;
}

#project_details #data #documents {
  border: 1px solid #BDBDBD;
  border-collapse: collapse;
}

#project_details #data #documents tr th, #project_details #documents tr td {
  padding: 5px;
}

#project_details #data #documents tr th, #project_details #documents tr td {
  border: 1px solid #BDBDBD;
}

#project_details #data ul li a:link, #project_details #data ul li a:visited, span#github_project {
  color: black;
  text-decoration: none;
}

#project_details #data ul li a:hover, span#github_project {
  text-decoration: underline;
}
