{% extends "base.html" %}

{% block content %}
  <div id="members_content">
    {% for member in members %}
      <div class="member" id="member{{member.id}}">
        <img class="avatar" src="/site_media/{{ member.photo }}" alt="{{ member.name }}" width="90" height="90"/>
        <h1>
          {{ member.name }}
        </h1>
        <span class="discret">{{ member.function }}</span>
        <p>{{ member.currently_does }}</p>
        <div class="links">
          {% if member.site %}
          <a href="{{ member.site }}" target="_blank">
            <img src="{{ MEDIA_URL }}/images/icons/icon_site.png" alt="Site"/>
          </a>
          {% endif %}
          {% if member.site %}
          <a href="{{ member.lattes }}" target="_blank">
            <img src="{{ MEDIA_URL }}/images/icons/icon_lattes.png" alt="Lattes"/>
          </a>
          {% endif %}
          {% if member.github %}
          <a href="{{ member.github_link }}" target="_blank">
            <img src="{{ MEDIA_URL }}/images/icons/icon_github.png" alt="Github"/>
          </a>
          {% endif %}
          {%if member.twitter %}
          <a href="{{ member.twitter_link }}" target="_blank">
            <img src="{{ MEDIA_URL }}/images/icons/icon_twitter.png" alt="Twitter"/>
          </a>
          {% endif %}
          {% if member.slideshare %}
          <a href="{{ member.slideshare_link }}" target="_blank">
            <img src="{{ MEDIA_URL }}/images/icons/icon_slideshare.png" alt="Slideshare"/>
          </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

