{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/members.css"/>
{% endblock styles %}

{% block content %}
<div class="members_content">
{% for member in members %}
  <div class="member {% cycle row1,row2,row3 %}" id="member{{ member.id }}">
    <a href="/membro/{{ member.id }}" title="{{ member.name }}">
      <img class="avatar" src="{{ MEDIA_URL }}/{{ member.photo.url_100x100 }}" alt="{{ member.name }}"/>
    </a>
    <div class="member_data">
      <h1>
        <a href="/membro/{{ member.id }}" title="{{ member.name }}">{{ member.name }}</a>
      </h1>
      <span class="discret">{{ member.get_function_display }}</span>
      <p>{{ member.currently_does }}</p>
    </div>
    <ul class="links">
      {% if member.site %}
      <li>
        <a href="{{ member.site }}" target="_blank">
          <img src="{{ MEDIA_URL }}/images/base/icon_site.png" alt="Site" title="Site"/>
        </a>
      </li>
      {% endif %}
      {% if member.lattes %}
      <li>
        <a href="{{ member.lattes }}" target="_blank">
          <img src="{{ MEDIA_URL }}/images/base/icon_lattes.png" alt="Lattes" title="Lattes"/>
        </a>
      </li>
      {% endif %}
      {% if member.github %}
      <li>
        <a href="{{ member.github_link }}" target="_blank">
          <img src="{{ MEDIA_URL }}/images/base/icon_github.png" alt="Github" title="Github"/>
        </a>
      </li>
      {% endif %}
      {%if member.twitter %}
      <li>
        <a href="{{ member.twitter_link }}" target="_blank">
          <img src="{{ MEDIA_URL }}/images/base/icon_twitter.png" alt="Twitter" title="Twitter"/>
        </a>
      </li>
      {% endif %}
      {% if member.slideshare %}
      <li>
        <a href="{{ member.slideshare_link }}" target="_blank">
          <img src="{{ MEDIA_URL }}/images/base/icon_slideshare.png" alt="Slideshare" title="Slideshare"/>
        </a>
      </li>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock content %}

